body {
  background:
    linear-gradient(to right,
      #595959 0%,     /* 左端グレー開始 */
      #595959 15%,    /* 左20%までグレー */
      #000 15%,    /* 中央黒開始 */
      #000 85%,    /* 中央黒終了 */
      #595959 85%,    /* 右20%からグレー */
      #595959 100%    /* 右端までグレー */
    );
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.center-content {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}


.title-wrapper {
  position: relative;
  text-align: center;
  margin: 60px 0;
  overflow: hidden; /* はみ出す文字を隠す */
}

.title-image {
  width: 50%;
  height: 50%;
  margin-bottom: 40px;
}



.hidden {
  display: none;
}
